@media  only screen and (max-width: 1500px) {
        #darkgold-bg{
                margin: 5rem 0!important;
                padding: 5rem 2rem;
                column-gap: 3rem;
        }
}

@media  only screen and (max-width: 990px) {
        #darkgold-bg{
                margin: 1rem 0!important;
                padding: 3rem 2rem !important;
                flex-direction: column;
        }
}