*{
        font-family: 'Roboto', sans-serif;
}

.outter-grid-wrapper{
        display: grid;
        grid-template-rows: 1fr 1.5fr 1fr 1fr;
}

.inner-wrapper{
        position: relative;
        padding-bottom: 10rem;
}

.nav-grid-wrapper{
        display: grid;
        grid-template-columns: 3fr 7fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
        "logo navbar"
        "logo border"
}

.upper-border-wrapper{
        grid-area: border;
        border-top: 1rem solid #ffc067;
}

.img-wrapper{
        grid-area: logo;
}

.nav-link{
        font-size: 1.5rem;
}

.nav-item{
        padding-left: 2rem;
        padding-right: 2rem;
}

.navbar{
        grid-area: navbar;
}

.social-svg{
        width: 1rem;
}

.social-wrapper{
        display: flex;
        flex-direction: row;
        margin-left: auto;
        margin-right: 4rem;
        align-items: center;
}

.social-a{
        align-items: center;
}

.background-img{
        z-index: -2;
        width: 100%;
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        position: absolute;
        filter: brightness(40%);
        object-fit: contain;
}

.slideshow-wrapper{
        display: grid;
        grid-template-columns: 1fr 4fr 1fr;
        grid-template-rows: 3fr;
        grid-template-areas: 
        "slidebutton-left main-slidetext-wrapper slidebutton-right";
        margin-top: 5rem;
}

.slidebutton-left{
        grid-area: slidebutton-left;
        align-self: center;
        justify-self: center;
        position: relative;
}

.main-slidetext-wrapper{
        grid-area: main-slidetext-wrapper;
        display: flex;
        flex-direction: column;
        text-align: left;
        padding-right: 15rem;
        align-self: center;
        justify-self: center;
}

.main-slidetext-wrapper > h1{
        font-size: 56px;
        color: var(--main-white);
        font-weight: bold;
}

.main-slidetext-wrapper > p{
        font-size: 36px;
        color: var(--main-white);
}

.slidebutton-right{
        grid-area: slidebutton-right;
        align-self: center;
        justify-self: center;
        position: relative;
}

.slide-button{
        background-color: #a7a7a7;
        width: 7rem;
        height: 7rem;
        border-radius: 100%;
        align-items: center;
}

.contact-button{
        font-size: 36px;
        color: var(--main-white);
        background-color: var(--main-darkgold);
        margin-right: auto;
        text-decoration: none;
        border-radius: 2rem;
        font-weight: 300;
}

.arrow-img-left{
        position: absolute;
        top: 32px;
        left: 28px;
        height: auto;
        width: 50px;
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
}

.arrow-img-right{
        position: absolute;
        top: 32px;
        left: 35px;
        height: auto;
        width: 50px;
}

.our-services{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.5fr 1fr 1fr 1fr;
        grid-template-areas: 
        "title-wrapper title-wrapper"
        "card-wrapper card-wrapper"
        "card-wrapper card-wrapper"
        "info-wrapper info-wrapper";
}

.title-wrapper{
        grid-area: title-wrapper;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
}

.title-wrapper > h1{
        font-size: 64px;
        font-weight: 900;
        color: black;
        letter-spacing: 0;
}

.underline-span{
        border-bottom: 10px solid var(--main-darkgold);
}

.card-wrapper{
        grid-area: card-wrapper;
        background-color: white;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
}

.info-wrapper{
        grid-area: info-wrapper;
        background-color: rgb(156, 58, 58);
}
