.flex-row{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
}

.link-item{
        background-color: var(--main-white);
        margin: 2rem;
        padding: .5rem 5rem;
        border-radius: 1rem;
}

.button-item{
        background-color: var(--main-darkgold);
        color: white;
        font-size: 42px;
        font-weight: 600;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        margin: 1rem;
        border-radius: 1rem;
        box-shadow: 3px 3px 2px 1px rgba(151,117,69,1); 
        text-align: center;
}

.link-p{
        text-align: center;
        color: black;
        font-weight: 400;
        font-size: 18px;
        padding-bottom: 2rem;
}